@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: "Inter", sans-serif;
     color: #fff;
}



/* Shared Style */

.btn-primary{
    padding: 12px 16px;
    border-radius: 10000px;
    background: #F7E93F linear-gradient(6deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
    cursor: pointer;
}
.btn-secondary{
    padding: 12px 16px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    color: #00FF88;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.btn-primary:hover{
    background: linear-gradient(9deg,rgba(158, 98, 41, 1) 0%, rgba(199, 128, 87, 1) 50%, rgba(237, 221, 83, 1) 100%);
    
}
.btn-secondary:hover{
    background-color: yellowgreen;
    color: #000;
}
.inactive{
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-bottom: 15px;
    padding-right: 25px;
}
.active{
    padding-bottom: 15px;
    padding-right: 25px;
}
.active:hover{
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
    padding-right: 25px;
}


/* Logo style */

.wave-gradient{
   background: linear-gradient(6deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
   -webkit-background-clip:text;
   color: transparent;
   display: inline-block;
   
}
 .circle{
    top: 20%;
 }
 .mic{
    top: 50px;
    right: 93px;
 }
 .badge{
    padding: 5px 15px;
    top: -15px;
    right: 50px;
}
.badge:hover{
    transition: 1s ease-in-out;
    transform: rotate(-15deg) scale(1.3);
}
.mic img{
    top: 25%;
    right: 37%;
}
/* .grid-section{
    grid-template-columns: repeat(1 , 1fr);
} */
.box1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding:  175px 40px;
}

.box2{
    grid-column: 3/span 4;
    padding:  80px 40px;
}
.box3{
    grid-column: 3 / span 4;
    padding:  80px 40px;
}
.box4{
    grid-column: 1 / span 4;
    padding: 40px;
}
.box5{
    
    grid-column: 5 / span 6;
    padding: 40px;
}
.instagram ,.x,.linkedin,.youtube{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.534);
    border-radius: 50%;
    padding: 10px;
}
.icons img{
    top: 31%;
    right: 32%;
}
.footer-section{
    background: url(../assets/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.social-area{
    top: 35%;
}
.video-card:hover{
    border: 1px solid orange;
    transition: 1s ease-out;
    transform: scale(1.5);
}
.brand{
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
}
.brand:hover{
    transform: translateY(-8px) scale(1.1) rotate(-5deg);
}








@media screen and (max-width: 576px){
    
    nav .nav-links{
        display: none;
    }
    nav button,.hamburger{
        display: none;
    }
    nav,
    .choose-container ,
    .podcast-section,
    .feature-container,
    .host-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .banner-container{
        height: 550px;
    }

    .circle{
        width: 200px;
        height: 200px;
        top: 10%;
    }


    .mic {
        width: 60px;
        height: auto;
        top: 50px;
        right: 73px;
    }

    .badge {
        padding: 1px 8px;
        top: -5px;
        right: -2px;
    }
    .banner-image{
        padding-top: 30px;
        height: 300px;
    }
    h2{
        font-size: 2.5rem;
    }
    .text-card-section{
        grid-template-columns: repeat(2 ,1fr);
        gap: 20px;
        padding: 30px 0;
    }
    .text-card-section h3{
        font-size: 2rem;
    }
   .grid-section ,.bottom-grid{
    display: flex;
    flex-direction: column;
   }
   .box1{
    padding: 40px 30px;
   }

   .box2,.box3,.box4,.box5,.box6{
    padding: 40px 30px;
   }

   .video-section{
    display: flex;
    flex-direction: column;
   }
   .host{
    flex-direction: column;
    text-align: center;
   }
   .icons{ 
    justify-content: center;
   }
   .social-area{
    max-width: 300px;
   }
   .social-area .nav-links{
    row-gap: 5px;
    grid-template-columns: repeat(2 , 1fr);
   }
   

}